h1{
	color: orange;
	font-weight: 100;
	font-family: "piedra", cursive;
	clear: both;
	}

#rojo{
	width: 40%;
	height: 150px;
	background-color: red; 
	float: left;
	margin-left: 10%; /*sirve para correr las cajitas a la derecha
*/
}
#azul{
	width: 40%;
	height: 150px;
	background-color: blue; 
	float: right;
	margin-right: 10%; /*sirve para correr las cajitas a la izquierda
*/
/*padding: es para que el numero no quede tan junto, lo coloco dentro de las cajas*/
}